
<!doctype html>
<html lang="en">
<head>
  <title>Login 07</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
            <div class="text w-100">
              <h2>Veuillez saisir les coordonnées pour modifier le bus</h2>
              <a class="btn btn-white btn-outline-white" routerLink="/user">Revenir à la page précédente</a>
            </div>
          </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3>Modifier un bus</h3>
              </div>
              <br>
            </div>
            <form class="signin-form" >
              <div class="form-group mb-3">
                <label class="label">Matricule</label>
                <input type="text" id="matricule" class="form-control" name="matricule" placeholder="matricule"  [(ngModel)]="Bus.matricule"   required >
              </div>
              <div class="form-group mb-3">
                <label class="label">Chauffeur</label>
                <input type="text" id="Chauffeur" class="form-control" name="Chauffeur" placeholder="chauffeur"  [(ngModel)]="Bus.chauffeur"   required>
              </div>
              <div class="form-group mb-3">
                <label class="label">Couleur</label>
                <input type="text" id="Couleur" class="form-control" name="couleur" placeholder="couleur" [(ngModel)]="Bus.couleur"   required>
              </div>
             
             
              <br>
              <div class="form-group">
                <button class="form-control btn btn-primary submit px-3" (click)="updateBus()">Modifier</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>


