<app-home></app-home>
<br>
<br>
<br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<div class="container">
  <a button class="btn btn-success" style="margin-left: 83%;margin-top:-10%; background-color: green; margin-bottom: -8%; width:191px; " > 
    <i class="fa fa-plus" style="margin-right: 5px;"></i>Ajouter</a>
  <table #datatable  style="border: 1px solid black;width: 100%">
    <thead>
    <tr>
      <th>Matricule</th>
      <th>Chauffeur</th>
      <th>Couleur</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

